body {
  color: rgba(255,255,255,0.87);
  background-color: #212121;
  margin:0;
  padding:0;
}

h1{
  margin: 2rem 0;
}

body .container {
  margin-bottom: 50px;
}

textarea{
  color: rgba(255,255,255,0.87);
}

.blue-hover:hover{
  color: #46dbac;
}

.row{
  border-radius: 5px;
}

.l-elevation{
  background-color: #272727;
}

.m-elevation{
  background-color: rgba(44,44,44);
}

.high {
  color: rgba(255,255,255,0.87);
}
/* 
.medium {
  color: rgba(255,255,255,0.6);
} */

.disabled{
  color: rgba(255,255,255,0.38);
}

.errorlist{
  color: #ef5350;
}
