{% extends "./base.html" %}
{% block title %}Build{% endblock title %}
{% block head_css %}
  <link rel="stylesheet" href="../../static/plotter/css/build.css"/>
{% endblock head_css %}
{% block content %}
  <div class="container">
    <div class="section"><h2 class="center-align">Add a Build!</h2></div>
    <div class="divider teal lighten-2"></div>
    <div class='flex-col m-elevation z-depth-3'>
      <!-- <h4 class="center-align">Enter Build</h4> -->
      <div class="section">
          <form method="POST" action="" class="build-form left-align" novalidate>
              {% csrf_token %}
              {% for message in messages %}
                <h4 id="messages" class="center-align teal-text text-lighten-2">{{message}}</h4>
              {% endfor %}
              <div class="build-form">
                  {{ buildForm }}
                <ul class="collapsible">
                  <li>
                    <div class="collapsible-header">
                      Board
                      <i class="material-icons">add</i>
                    </div>
                    <div class="collapsible-body">
                      {% csrf_token %}
                      {{ boardForm }}
                      <!-- <div class="input-field">
                        <select>
                          <option value="" disabled selected>Previous Board</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
                        <label>Previous Board</label>
                      </div> -->
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">
                      Foil
                      <i class="material-icons">add</i>
                    </div>
                    <div class="collapsible-body">
                      {% csrf_token %}
                      {{ foilForm }}
                      <!-- <div class="input-field">
                        <select>
                          <option value="" disabled selected>Previous Foil</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
                        <label>Previous Foil</label>
                      </div> -->
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">
                      Motor
                      <i class="material-icons">add</i>
                    </div>
                    <div class="collapsible-body">
                      {% csrf_token %}
                      {{ motorForm }}
                      <!-- <div class="input-field">
                        <select>
                          <option value="" disabled selected>Previous Motor</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
                        <label>Previous Motor</label>
                      </div> -->
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">
                      Controller
                      <i class="material-icons">add</i>
                    </div>
                    <div class="collapsible-body">
                      {% csrf_token %}
                      {{ controllerForm }}
                      <!-- <div class="input-field">
                        <select>
                          <option value="" disabled selected>Previous Controller</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
                        <label>Previous Controller</label>
                      </div> -->
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">
                      Propeller
                      <i class="material-icons">add</i>
                    </div>
                    <div class="collapsible-body">
                      {% csrf_token %}
                      {{ propellerForm }}
                      <!-- <div class="input-field">
                        <select>
                          <option value="" disabled selected>Previous Propeller</option>
                          <option value="1">Option 1</option>
                          <option value="2">Option 2</option>
                          <option value="3">Option 3</option>
                        </select>
                        <label>Previous Propeller</label>
                      </div> -->
                    </div>
                  </li>
                </ul>
              </div>
              <div class="section"><button class="btn teal-effect teal lighten-2" type="submit">Save<i class="material-icons right">input</i></button></div>
              {% if not user.is_authenticated %}
              <p> Your data will not be saved. Please log-in to save your ride. </p>
              {% endif %}
          </form>
      </div>
    </div>
  </div>
{% endblock content %}
{% block footer_scripts %}
  <script type="text/javascript" src='../../static/plotter/js/base.js'></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems, {});
    });
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems, {});
    });
    addInputClasses();
  </script>
{% endblock footer_scripts %}
