{% extends "../base.html" %}
{% block title %}Graph{% endblock title %}
{% block head_css %}
  <link rel="stylesheet" href="test.css">
{% endblock head_css %}
{% block content %}
  <div class="wrapper">
      <div id="selectContainer" class="container">
          <div><button type="submit" id="generateButton">Generate</button></div>
          <div><button type="submit" id="selectAll">Select All</button></div>
      </div>
      <div id="chartContainer" style="height: 300px; width: 100%;"></div>
  </div>
{% endblock content %}
{% block footer_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script>
  //put graph generation code here

  //On load function, get our data and do any setup required
  $(document).ready(function() {
    //sample data, real data will be loaded from database
    var importedData = '{{mydata|safe}}';
    var parsedData = JSON.parse(importedData)
    var header = parsedData.header
    var data = parsedData.data
    var timeStamp = data[0][0]

    var newData = [];
    var axisY = [];
    for(var i in header) {
        if (i == 0){
          continue;
        }
        newData.push({
            type:"line",
            name: header[i],
            showInLegend: true,
            markerSize: 0,
            axisYIndex: parseInt(i - 1),
            dataPoints: []
        })
        axisY.push({
            tickThickness: 0,
            tickLength: 0,
            lineThickness:0,
            margin:0,
            labelFormatter: function(e) {
              return "";
            }
        })
      addCheckbox(header[i])
    }

    function addCheckbox(name) {
       var container = $('#selectContainer');
       var inputs = container.find('input');
       var id = inputs.length+1;

       var div = $('<div />', { class: 'col s3'})
       var label = $('<label />')
       $('<input />', { type: 'checkbox', id: 'cb'+id, value: name, class:'checkboxes'}).appendTo(label)
       $('<span />', { text: name }).appendTo(label)
       label.appendTo(div)
       div.appendTo(container)
    }

    // newData[k-1] matches k key:value pair of data[j]
    for(var j in data) {
        for(var k in data[j]){
            if (k != 0){
                var newTime = data[j][0] - timeStamp
                newData[k-1].dataPoints.push({x:newTime, y:parseFloat(data[j][k])})
            }
        }
    }
    generateChart([]);

    //
    // FUNCTIONS
    // Generates chart
    function generateChart(selected) {

        var chart = new CanvasJS.Chart("chartContainer", {
            zoomEnabled: true,
            panEnabled: true,
            title: {
                text: "Your e-Foil"
            },
            axisX: {
                title: "Time",
                suffix: "s"
            },
            axisY: axisY,
            toolTip: {
                shared: true
            },
            legend: {
                cursor: "pointer",
                verticalAlign: "left",
                horizontalAlign: "center",
                dockInsidePlotArea: false
            },
            data: newData
        });

        // check if selected has values - initially empty
        if (selected.length > 0){
            for (var i=1;i<header.length;i++){
                if (!selected.includes(header[i])){ //if checked in checkbox
                    chart.options.data[i-1].visible = false;
                    chart.options.data[i-1].toolTipContent = null;
                } else {
                    chart.options.data[i-1].visible = true;
                    chart.options.data[i-1].toolTipContent = "<span style='\"'color: {color};'\"'>{name}</span>: <strong>{y}</strong>";;
                }
            }
        }
        chart.render()
    }

     // Determines which data has been selected for viewing -> () => array
     function displayData() {
        var selectedData = [];
        $(".checkboxes").each(function() {
            if($(this).is(":checked")){
                selectedData.push($(this).val())
            }
        })
        return selectedData;
     }
    // Runs when the generate button is clicked.  Calls generateChart with the selected elements
    $("#generateButton").click(function() {
        var selected = displayData()
        console.log(selected);
        generateChart(selected);
    })

    // Runs when the select all button is clicked.  Checks all buttons
    $("#selectAll").click(function() {
        $(".checkboxes").each(function() {
            $(this).prop('checked', true)
        })
    })

  })
  </script>
{% endblock footer_scripts %}
