<html>
<head>
    <title>VESC Tool Plotter</title>
</head>
<body>
    <h1>VESC Tool Plotter</h1>
    <hr>
    <h2>Plot</h2>
    
    <table border="1">

        <tr>
            {% for value in header %}
                <th>{{ value }}</th>
            {% endfor %}
        </tr>
        {% for row in data %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>


</html>

